name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push-docker-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Aliyun Container Registry
      uses: docker/login-action@v2
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.ALIYUN_USERNAME }}
        password: ${{ secrets.ALIYUN_CONTAINER_REGISTRY_PASSWORD }}
    - name: Build and push image
      uses: docker/build-push-action@v4
      with:
        file: ./Dockerfile
        context: ./
        platforms: linux/amd64
        push: true
        tags: |
          registry.cn-hangzhou.aliyuncs.com/wcz-docker-repo/ms-rewards-console:latest